* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  margin: auto;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-top: 30px;
  padding-bottom: 20px;
  width: 100%;
}
.header__img {
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.header__img > img {
  align-self: center;
  object-fit: cover;
  width: 250px;
}
.header__back {
  font-size: 70px;
  position: absolute;
  left: 30px;
}
.header__back > a {
  color: black;
}

footer {
  display: Flex;
  flex-wrap: wrap;
  background-color: #4A4A4A;
  flex-direction: column;
  color: white;
}
footer > div {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
footer > div > div > img {
  fill: #fff;
  color: #fff;
}
footer > div > p {
  margin-top: 5px;
  margin-bottom: 5px;
}
footer > div > p > a {
  color: white;
  text-decoration: none;
}

.button {
  border-radius: 15px 15px 15px 15px;
  background: linear-gradient(10deg, #9356DC, #FF79DA);
  color: white;
}

.explore {
  border-radius: 30px 30px 30px 30px;
  background: linear-gradient(10deg, #9356DC, #FF79DA);
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.works__button {
  display: Flex;
  flex-wrap: wrap;
  position: relative;
  border-radius: 15px 15px 15px 15px;
  background: #f6f6f6;
  padding: 15px 32px;
  width: 90%;
  border: none;
  font-size: 24px;
  font-family: Raleway;
}
.works__button__number {
  padding: 5px 12px;
  border-radius: 30px;
  background: #8A2BE2;
  position: absolute;
  left: -15px;
  top: 10px;
  color: #FFF;
}
.works__button__icon {
  color: #8A2BE2;
  padding-right: 20px;
}
.works__button:hover {
  background: #e4d5f6;
}
@media screen and (min-width: 600px) {
  .works__button {
    width: 30%;
  }
}

.hart__button {
  position: relative;
}
.hart__button > i {
  position: absolute;
  transition: 2s;
}
.hart__button > i:hover {
  opacity: 1;
}

.transparent {
  opacity: 0;
  color: #9356DC;
}

.home__cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 25px;
  background-color: white;
  height: fit-content;
  width: 90%;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.home__cards > a {
  text-decoration: none;
  color: #000;
}
.home__cards:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.home__cards__img {
  position: relative;
}
.home__cards__img > img {
  object-fit: cover;
  width: 100%;
  height: 200px;
  border-radius: 25px 25px 0px 0px;
}
.home__cards__img > span {
  position: absolute;
  top: 2rem;
  right: 2rem;
  background-color: #99E2D0;
  color: #FFF;
}
.home__cards__foot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.home__cards__foot__hart {
  position: absolute;
  right: 3rem;
  bottom: 3rem;
}
.home__cards__foot__text > h3 {
  font-size: 1.5rem;
  margin-left: 1rem;
}
.home__cards__foot__text > p {
  margin-left: 1rem;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.order__cards {
  display: flex;
  border-radius: 25px;
  background-color: white;
  height: 100px;
  width: 95%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  opacity: 0;
  animation: slideup 3s;
  animation-fill-mode: forwards;
}
.order__cards > div {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-end;
  overflow: hidden;
}
@media screen and (min-width: 600px) {
  .order__cards {
    width: 30%;
  }
}
.order__cards__text {
  width: 75%;
}
.order__cards__text > h4 {
  margin: 15px;
  margin-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.5rem;
}
.order__cards__text > p {
  margin-left: 20px;
  margin-bottom: 0px;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.3rem;
}
.order__cards__cost {
  display: Flex;
  flex-wrap: wrap;
  align-items: flex-end;
  font-weight: 900;
  font-size: 1.3rem;
  padding-right: 1rem;
}
.order__cards__check {
  background-color: #99E2D0;
  width: 0px;
  height: 100px;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 0px 25px 25px 0px;
  transition: all 1s ease;
}
.order__cards__check > i {
  margin: 34px;
  background-color: #99E2D0;
  color: white;
  font-size: 36px;
  transition-delay: 1s;
  transition: transform 1s ease;
}
.order__cards:hover > .order__cards__check {
  width: 100px;
}
.order__cards:hover > .order__cards__check > i {
  transform: rotate(360deg);
}

@keyframes slideup {
  from {
    opacity: 0;
    transform: translateY(10%);
  }
  to {
    opacity: 1;
  }
}
@keyframes slideup2 {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  70% {
    opacity: 1;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.order__cards:nth-child(2) {
  animation-delay: 1s;
}

.order__cards:nth-child(3) {
  animation-delay: 2s;
}

@keyframes loader {
  0% {
    transform: rotate(0);
  }
  80% {
    opacity: 0.9;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
@keyframes hide-loader {
  0% {
    display: block;
  }
  80% {
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
.home__loader {
  position: fixed;
  display: flex;
  justify-content: center;
  background-color: #fff;
  z-index: 10;
  align-items: center;
  width: 100%;
  height: 100%;
  animation: hide-loader 2s linear;
  animation-fill-mode: forwards;
}
.home__loader > div {
  width: 100px;
  height: 100px;
  background-color: #fff;
  border: 20px solid #9356DC;
  border-top: 10px solid #FF79DA;
  border-radius: 50%;
  animation: loader 2s linear;
}

.order__img {
  position: relative;
}
@media screen and (min-width: ) {
  .order__img {
    height: 150px;
  }
}
.order__img > img {
  object-fit: cover;
  width: 100%;
  height: 300px;
}
.order__main {
  background-color: #f6f6f6;
  padding-bottom: 30px;
  border-radius: 50px 50px 0px 0px;
  width: 100%;
}
.order__restaurants {
  border-radius: 50px 50px 0px 0px;
  background-color: #f6f6f6;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-decoration-break: clone;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.order__restaurants > div > i {
  right: 30px;
  font-size: 30px;
}
.order__restaurants > h1 {
  font-size: 2.5rem;
  padding-left: 30px;
}
.order__menu {
  padding-top: 2rem;
  width: 100%;
}
.order__menu > div > div > h3 {
  padding-left: 3rem;
  position: relative;
  font-size: 1.3rem;
  patting-top: 2rem;
  padding-bottom: 2rem;
}
.order__menu > div > div > h3:before {
  position: absolute;
  height: 5px;
  width: 10%;
  left: 30px;
  bottom: 0.5rem;
  background: #99E2D0;
  display: block;
  content: "";
}
.order__menu__cardwrap {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  width: 100%;
  margin-bottom: 3rem;
}
@media screen and (min-width: 600px) {
  .order__menu__cardwrap {
    flex-direction: row;
  }
}
.order__button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.location {
  display: Flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
  gap: 20px;
  background-color: #c8c8c8;
  padding: 2rem;
  box-shadow: inset 0px 5px 0px 0px rgba(0, 0, 0, 0.2);
}

.blocktop {
  padding-top: 2rem;
  padding-bottom: 3rem;
  display: Flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #f6f6f6;
}
.blocktop > div {
  align-self: center;
}
.blocktop > div > h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.blocktop > div > p {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.blockmid {
  display: Flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 30px;
  padding-top: 1rem;
}
.blockmid > h2 {
  margin-left: 30px;
  font-size: 1.3rem;
}
.blockmid > div {
  display: Flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
@media screen and (min-width: 600px) {
  .blockmid > div {
    flex-direction: row;
  }
}

.restarant {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #f6f6f6;
  gap: 30px;
  padding-top: 1.3rem;
  padding-bottom: 40px;
}
.restarant > div > h2 {
  margin-left: 30px;
  font-size: 1.3rem;
}
.restarant__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

/*# sourceMappingURL=main.css.map */
