$lightgray: #f6f6f6
$darkgray: #c8c8c8
$offblack: #4A4A4A
$violet: #8A2BE2
$green: #8FBC8F
$ordercard: 100px
$hovertime: 1s
$primaryColor: #9356DC
$secondaryColor: #FF79DA 
$tertiaryColor: #99E2D0

$breakpoints: ("tablet": 600px, "desktop": 996px)