.button
	border-radius: 15px 15px 15px 15px
	background: linear-gradient(10deg, $primaryColor, $secondaryColor)
	color: white
	
.explore
	border-radius: 30px 30px 30px 30px
	background: linear-gradient(10deg, $primaryColor, $secondaryColor)
	color: white
	border: none
	padding: 1.5rem 3rem
	text-align: center
	text-decoration: none
	display: inline-block
	font-size: 1.5rem
	margin: 4px 2px

.works__button
	display: Flex
	position: relative
	border-radius: 15px 15px 15px 15px
	background: $lightgray
	padding: 15px 32px
	width: 90%
	border: none
	font-size: 1.5rem
	font-family: Raleway
	&__number
		padding: 5px 12px
		border-radius: 30px
		background: $violet
		position: absolute
		left: -15px
		top: 10px
		color: #FFF
	&__icon
		color:$violet
		padding-right: 20px
	&:hover
		background: lighten($primaryColor, 30%)
	@include desktop-only 	
		width: 30%
		font-size: 1.1rem
		
		
.hart__button
	position: relative
	
	& > i
		position: absolute
		transition: 2s
		
		&:hover 
			opacity: 1

	
		
.transparent 
	opacity: 0
	background: -webkit-gradient(linear, left top, left bottom, from($primaryColor), to($secondaryColor))
	-webkit-background-clip: text
	-webkit-text-fill-color: transparent
	
